:root {
    --blueHover: #117DBD;
    --lightBlue: #95D1F5;
    --darkBlue: #1A182D;
    --darkCyan: #40E0D0;
    --darkRed: #B22222;
    --yellow: #F9BB12;
    --astro: #2A233E;
    --green: #00A19A;
    --grey: #EBEBEC;
    --cyan: #00FFFF;
    --blue: #24A1EB;
    --red: #DC143C;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey);
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: var(--blue);
    color: white;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    gap: 15px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.admin-layout {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: var(--darkBlue);
    color: white;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: var(--blueHover);
}

.sidebar .active {
    background-color: var(--blue);
}

.main-content {
    flex: 1;
    background-color: var(--grey);
    padding: 20px 50px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.button-success {
    background-color: #28a745;
}

.button-disabled {
    background-color: #6c757d;
}

.button-success:hover {
    background-color: #218838;
}

.button-primary {
    background-color: #007bff;
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-danger {
    background-color: #dc3545;
    color: white;
}

.button-danger:hover {
    background-color: #c82333;
}

.button-grey {
    background-color: #6c757d;
    color: black;
}

.button-grey:hover {
    background-color: #5a6268;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table thead {
    background-color: #f8f9fa;
    text-align: left;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 10px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table td:last-child {
    text-align: center;
}

.table button {
    margin-right: 5px;
}

/* Style général du modal */
.modal {
    display: none;
    /* Caché par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
    border-radius: 10px;
}

.modal-add-update {
    max-width: 1000px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.admin-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.admin-buttons button {
    padding: 10px 15px;
    background-color: #0074D9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.admin-buttons button:hover {
    background-color: #005bb5;
}

.admin-buttons button:active {
    background-color: #004494;
}

/* Conteneur du slider */
#edge-slider-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 5%; /* Positionner le slider à gauche */
    transform: translateX(0); /* Supprimer le centrage par défaut */
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style du texte du slider */
#edge-slider-label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 14px;
}

/* Style du slider */
#edge-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 6px;
    background: var(--grey);
    outline: none;
    opacity: 0.9;
    border-radius: 5px;
    transition: opacity 0.2s;
}

/* Curseur du slider */
#edge-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: var(--blue);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

#edge-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: var(--blue);
    border-radius: 50%;
    cursor: pointer;
}

/* Effet hover */
#edge-slider:hover {
    opacity: 1;
}

/* Animation du curseur au hover */
#edge-slider::-webkit-slider-thumb:hover,
#edge-slider::-moz-range-thumb:hover {
    background: var(--blueHover);
}
