<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Graph Workbench - Coloration</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/ateliers/coloration/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/cytoscape@3.20.0/dist/cytoscape.min.js"></script>
</head>

<body>

    <custom-navbar title="Coloration des sommets"></custom-navbar>

    <section class="container coloration">
        <div>
            <h2>Choisissez un Mode</h2>
            <button id="mode-defi-btn">Mode Défi</button>
            <button id="mode-libre-btn">Mode Libre</button>
            <button id="mode-creation-btn">Mode Création</button>
        </div>

        <div id="graph-section" style="display: none;">
            <h2 id="mode-title"></h2>
            <div id="info-container" style="display: none; margin-top: 20px;">
                <button id="info-btn" style="padding: 10px; font-size: 16px;">ℹ️ Voir les règles</button>
                <div id="info-section" style="display: none; border: 1px solid #ccc; padding: 15px; margin-top: 15px;">
                    <h3>Règles du mode</h3>
                    <p id="info-text"></p>
                    <button id="close-info-btn">Fermer</button>
                </div>
            </div>
            <div id="graph-select" class="styled-select" style="display: none;">
                <select id="predefined-graph-select"></select>
            </div>
            <div id="dynamic-buttons"></div>
            <div id="cy-predefined" class="cy-container"></div>
        </div>
    </section>

    <custom-footer></custom-footer>
</body>

</html>